body{
    background-color: #0f0d24;
}
.titulo{
    color:#ad0489;
    font-family: Times New Roman;
    text-align: center;
}
.c1{
    text-align: center;
}
.p1{
    color:#F4F6F7;
    font-family: sans-serif;
}